	<style type="text/css">
		body {
			background-image: url("/assets/background.png");
			background-size: 100% auto;
			background-repeat: no-repeat;
		}
        @media (min-width: 1500px) {
            #picture {
            	width: 700px;
            }
            #intro {
            	margin-top: 170px;
            	margin-left: 100px;
            }
            #description {
            	margin-left: 100px;
            }
        }
		@media (max-width: 1300px) {
			.navbar {
    		background: black;
    		border-radius: 0px;
    		height: 150px;
			}
		}
		@media (max-width: 800px) {
			#picture {
    		display: none;
			}
			#intro {
				font-size: 1.3em;
			}
		}
		@media (max-width: 543px) {
			.navbar {
				background-color: black;
			}
			#intro {
				font-size: 1.5em;
			}
			#description {
				font-size: 1em;
			}
			.navbar-toggler {
				display: none;
			}
		}
		@media (min-width: 1500px) {
			#joanne {
				width: 55%;
				margin-left: -90px;
				margin-top: 80px;
			}
			#hyelee {
				width: 60%;
				margin-top: 150px;
				margin-left: 100px;
			}
			#kim {
				width: 43%;
				margin-top: 200px;
				margin-left: -150px;
			}
		}


		</style>


<div id="wrapper">

<div id="loading">
	<div id="loading-center">
		<div id="loading-center-absolute">
			<div id="joanne"><%= image_tag('joanne.png', class:'animated slideInLeft img-responsive', id:'joanne') %>
			</div>
			<div id="hyelee"><img src="hyelee.png" class="animated slideInRight img-responsive" id="hyelee"></div>
			<div id="kim"><img src="kim.png" class="animated bounceInDown img-responsive" id="kim"></div>
		</div>
	</div>
</div>

<nav>
	<nav class="navbar navbar-custom">
	  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
	    &#9776;
	  </button>
<!-- 	  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2"> -->
	    <a class="navbar-brand" href="#"><%= image_tag('logo.png', class:'navbar-brand img-responsive') %></a>
	    <ul class="nav navbar-nav navbar-right main_nav">
	      <li class="nav-item">
	        <a class="nav-link" href="/main/about" id="about">About</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/main/portfolio">Portfolio</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/contacts/new">Contact</a>
	      </li>
	    </ul>
	  </div>
	</nav>
</nav>

<main>
<Center>
  <div class="col-xs-5" id="left">
  	<span class="animated bounceInDown" id="intro">Hello, I'm Joanne!</span><br>
   	<span class="animated bounceInDown" id="description">Front-End/UI Developer</span>
  </div>
  <div class="col-xs-4">
  	<%= image_tag('joannekim.png', class:'img-responsive', id:'picture') %>
  </div>
  <div class="col-xs-4" id="logos">
  	<a href="https://github.com/joannehkim"><%= image_tag('github.png', class:'img-responsive logos', id:'github') %></a><br><br><br>
  	<a href="https://www.linkedin.com/in/joanne-kim-85a07263"><%= image_tag('linkedin.png', class:'img-responsive logos', id:'linkedin') %></a>
  </div>
</main>

</div>

<% content_for(:head) do %>
	<%= javascript_include_tag 'main_js' %>
<% end %>
